day1_html/hw4/index.pug
doctype html
html(lang="en")
    head
        title="About Me"
        style
            include style.css
    body
        div.container
            nav.menu
                ul
                    li
                        a(href='./index.html') About Me |&nbsp;
                    li
                        a(href='./skill.html') Skill |&nbsp;
                    li
                        a(href='./contactme.html') Contact Me |&nbsp;
                    li
                        a(href='./portfolio.html') Portfolio

            div.portfolio-header
                div.page-title-container
                    h1.page-title About Me
                div.profile-image

            div.portfolio-detail
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, aspernatur consectetur deleniti
                    exercitationem incidunt labore magni mollitia nobis officiis quae quaerat recusandae sint sit tenetur
                    vel velit veniam voluptates voluptatum!

day1_html/index.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link rel="stylesheet" href="./style.css" type="text/css">
</head>
<body>
<div class="container">
    <nav class="menu">
        <ul>
            <li><a href="./index.html">About Me</a> |</li>
            <li><a href="./skill.html">Skill</a> |</li>
            <li><a href="./contactme.html">Contact Me</a> |</li>
            <li><a href="./portfolio.html">Portfolio</a></li>
        </ul>
    </nav>
    <div class="portfolio-header">
        <div class="page-title-container">
            <h1 class="page-title">About Me</h1>
        </div>
        <div class="profile-image"></div>
    </div>
    <div class="portfolio-detail">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, aspernatur consectetur deleniti
            exercitationem incidunt labore magni mollitia nobis officiis quae quaerat recusandae sint sit tenetur
            vel velit veniam voluptates voluptatum!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deleniti eius enim fugit iste itaque
            magnam magni maxime minus modi nulla omnis quam quo, reprehenderit tempore, ullam, veritatis? Facilis,
            illum!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci corporis dolorem error facere fugiat iusto
            magni maxime, minus nam nobis praesentium, quia recusandae saepe sed similique tenetur veritatis! Assumenda,
            hic!</p>
    </div>
</div>
</body>
</html>
