day1_html/portfolio.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="./style.css" type="text/css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <!-- Navigation -->
    <nav class="menu">
        <ul>
            <li><a href="./index.html">About Me</a> |</li>
            <li><a href="./skill.html">Skill</a> |</li>
            <li><a href="./contactme.html">Contact Me</a> |</li>
            <li><a href="./portfolio.html">Portfolio</a></li>
        </ul>
    </nav>
    <!-- End navigation -->

    <!-- Header -->
    <header class="search-container">
        <div class="portfolio-title">
            <div class="portfolio-image"></div>
            <div class="portfolio-name">
                <span>My Application</span>
            </div>
        </div>
        <div class="search-group">
            <div class="search-group-inner right-addon">
                <input type="text" class="search-input-box" placeholder="Search Product">
                <i class="glyphicon glyphicon-search"></i>
                <button class="search-button">Search</button>
            </div>
        </div>
        <div class="new-product">
            <div><a href="#">New Product</a></div>
        </div>
    </header>
    <!-- End header -->

    <!-- Content -->
    <div class="content-container">
        <div class="content-item">
            <div class="content-image"></div>
            <div class="content-detail">
                <ul>
                    <li>List-1</li>
                    <li>List-2</li>
                    <li>List-3</li>
                </ul>
            </div>
        </div>
        <div class="content-item">
            <div class="content-image"></div>
            <div class="content-detail">
                <ul>
                    <li>List-1</li>
                    <li>List-2</li>
                    <li>List-3</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-container">
        <div class="content-item">
            <div class="content-image"></div>
            <div class="content-detail">
                <ul>
                    <li>List-1</li>
                    <li>List-2</li>
                    <li>List-3</li>
                </ul>
            </div>
        </div>
        <div class="content-item">
            <div class="content-image"></div>
            <div class="content-detail">
                <ul>
                    <li>List-1</li>
                    <li>List-2</li>
                    <li>List-3</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-container">
        <div class="content-item">
            <div class="content-image"></div>
            <div class="content-detail">
                <ul>
                    <li>List-1</li>
                    <li>List-2</li>
                    <li>List-3</li>
                </ul>
            </div>
        </div>
        <div class="content-item">
            <div class="content-image"></div>
            <div class="content-detail">
                <ul>
                    <li>List-1</li>
                    <li>List-2</li>
                    <li>List-3</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End content -->
</div>
</body>
</html>

day1_html/hw4/portfolio.pug
mixin showDetail()
  div.content-container
    each _ in [1, 2]
      div.content-item
        div.content-image
        div.content-detail
          ul
            each val in [1, 2, 3]
              li= "List-" + val


doctype html
html(lang="en")
  head
  title= "Contact Me"
  style
    include style.css
  - url = '//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
  link(href=url, rel="stylesheet", type="text/css")

  body
    div.container
      nav.menu
        ul
          li
            a(href='./index.html') About Me |&nbsp;
          li
            a(href='./skill.html') Skill |&nbsp;
          li
            a(href='./contactme.html') Contact Me |&nbsp;
          li
            a(href='./portfolio.html') Portfolio

      div.search-container
        div.portfolio-title
          div.portfolio-image
          div.portfolio-name
            span My Application
        div.search-group
          div(class="search-group-inner right-addon")
            input(class="search-input-box", placeholder="Search Product")
            i(class="glyphicon glyphicon-search")
            button.search-button Search
        div.new-product
          div
            a(href="#") New Product

      each _ in [1, 2, 3]
        +showDetail()
