day1_html/skill.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skill</title>
    <link rel="stylesheet" href="./style.css" type="text/css">
</head>
<body>
<div class="container">
    <nav class="menu">
        <ul>
            <li><a href="./index.html">About Me</a> |</li>
            <li><a href="./skill.html">Skill</a> |</li>
            <li><a href="./contactme.html">Contact Me</a> |</li>
            <li><a href="./portfolio.html">Portfolio</a></li>
        </ul>
    </nav>
    <div class="portfolio-header">
        <div class="page-title-container">
            <h1 class="page-title">Skills</h1>
        </div>
    </div>
    <div class="portfolio-detail">
        <ul>
            <li>Skill-1</li>
            <li>Skill-2</li>
            <li>Skill-3</li>
        </ul>
    </div>
</div>
</body>
</html>

day1_html/hw4/skill.pug
doctype html
html(lang="en")
    head
        title=Skill
        style
            include style.css

    body
        div.container
            nav.menu
                ul
                    li
                        a(href='./index.html') About Me |&nbsp;
                    li
                        a(href='./skill.html') Skill |&nbsp;
                    li
                        a(href='./contactme.html') Contact Me |&nbsp;
                    li
                        a(href='./portfolio.html') Portfolio

            div.portfolio-header
                div.page-title-container
                    h1.page-title Skills

            div.portfolio-detail
                ul
                    each val in [1, 2, 3]
                        li= 'Skill-' + val
